* {
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Corbel';    
}

header {
    width: 100%;
    min-height: 80px;
    padding: 15px 15px 15px 150px;
    display: flex;
    align-items: center;
}

.logo-box {
    display: flex;
}

.logo-graphics {
    width: 30px;
    height: 30px;
} 

.big-circle {
    max-width: 100%;
    height: 100%;
    background: #14931f;
    border-radius: 50%;
}

.mid-circle {
    width: 75%;
    height: 75%;
    background: white;
    border-radius: 50%;    
    position: relative;
    top: 3px;
    left: 6px ;
}

.small-circle {
    width: 50%;
    height: 50%;
    background: #14931f;
    border-radius: 50%;    
    position: relative;
    top: 6px;
    left: 8px ;
}

.logo-text {
    color: #14931f;
    margin: 0 0 0 10px;
    font-size: 25px;
    font-weight: bold;
}

main {
    width: 100%;
    flex: 1;
}

.introduction-section, .services-section, .price-section {
    padding: 15px;
}

.introduction-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    color: #14931f;
}

h1 {
    font-size: 64px;
}

.section-title {
    text-align: center;
}

.introduction-container>p {
    color: #646F75;
    font-size: 24px;    
}

.button {
    width: 150px;
    padding: 15px;
    border-radius: 40px;
    font-size: 24px;
    border: 0;
    transition: 0.5s;
}

.start-button {
    color: white;
    background: #14931f;
    border: 1px solid #14931f;
}

.start-button:active {
    background: #8be392;
    border: 1px solid #8be392;
    transition: 0.5s;
}

h2 {
    font-size: 48px;
}

.services-container {
    max-width: 1000px ;
    margin: 50px auto 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.service {
    width: 300px;
    min-height: 80px;
    margin: 15px ;
    padding: 20px;
    border-radius: 30px;
    background: #dfdbf5;
    color: #646F75;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.price-section {
    background: #dfdbf5;    
}

.prices-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price-box {
    width: 325px;
    padding: 20px 30px;
    margin: 20px;
    border-radius: 30px;
    background-color: white;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.price-title {
    margin: 15px 20px 20px ;
    font-size: 32px;
    text-align: center;
    color: #14931f;
    transition: 0.5s;
}

.price-box > ul {
    min-height: 200px;
    padding-left: 40px;
    list-style: none;
}

.price-box li {
    font-size: 18px;
    margin: 20px auto;
    padding-left: 35px;
    background-image: url("./assets/icons/icon1.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20px 20px;
    color: #646F75;
    transition: 0.5s;
}

.price {
    font-size: 48px;
    margin: 0 5px 0 0;
    color: #646F75;
    transition: 0.5s;
}

.price-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.buy-button{
    border: 1px solid #646F75;
    color: #646F75;
    background: #fff;
    transition: 0.5s;
}

.price-box:hover {
    background: #14931f;
    transition: 0.5s;
}

.price-box:hover> .price-title {
    color: white;
}

.price-box:hover li {
    color: #fff;
    background-image: url("./assets/icons/icon2.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20px 20px;
}

.price-box:hover .price{
    color: #fff;
}

.price-box:hover .buy-button{
    border: 1px solid #fff;
    color: #646F75;
    background-color: #fff;     
    transition: 0.5s;
}

.price-box .buy-button:active {
    background: #14931f;
    border: 1px solid #14931f;
    color: #fff;
    transition: 0.5s;
}

footer {
    width: 100%;
    min-height: 100px;
    padding: 15px;
    background: #14931f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>small {
    font-size: 18px;
}

@font-face {
    font-family: 'Corbel' ;
    src: url("./assets/fonts/Corbel.ttf");
}

@media (max-width: 991px) {
    header {
        justify-content: center;
        padding: 15px;
    }
} 
